<%= link_to group_purchase_path(purchase.id), class:"d-flex mb-2 border align-items-center p-3 bg-white gap-2" do %>
    <div class="col-3">
        <%= image_tag(group.icon, class: "img-fluid") %>
    </div>
    <div class="col-9 d-flex">
        <div class="col-9">
            <h4><%= purchase.name %></h4>
            <p class="mt-4"><%= l(purchase.created_at, format: :only_date) %></p>
        </div>
        <div class="col-3">
           <h4><%= number_to_currency(purchase.amount) %></h4>
        </div>
    </div>
    
<% end %>