<nav class="navbar p-3">
  <div class="mobile-overlay"></div>
  <div class="mobile-foreground"></div>
  <section class="col-md-6 nav">
    <ul class="bars">
      <li class="bar-item"></li>
      <li class="bar-item"></li>
      <li class="bar-item"></li>
    </ul>
    <h1 class="page-title"><%= @page_name.nil? ? "" : @page_name.upcase  %></h1>
    <div class="text-white">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= button_to "Logout", destroy_user_session_path, class: "btn btn-outline-light btn-sm", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path,  class: "btn btn-outline-light btn-sm" %>
        </li>
      <% end %>
    </div>
    <ul class="nav-link">
      <% if user_signed_in? %>
        <li class="nav-item pe-5 pt-2">
          <p class="text-dark"><%= current_user.email %></p>
        </li>
        <li class="nav-item">
          <%= button_to "Logout", destroy_user_session_path, class: "btn btn-outline-secondary", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path,  class: "btn btn-outline-secondary" %>
        </li>
      <% end %>
      <li><a href="#">Profile</a></li>
    </ul>
  </section>
</nav>
